.table2{
    margin-top:10px;
    margin-left:5px;
    border-collapse:  separate;
    margin-right:5px;
    
}
.table thead
{
    
    margin-right:5px;
    color:white;
    background: #1cafec;
}

tbody {
    background: white;
}
tbody tr {
    margin-right:5px;
}
thead th,tbody tr td {
    text-align: center;
}


.action 
{
    display: inline-flex;
}
.action-element
{
    margin-left: 15px;
}
.dataTable thead:last-child
{
    visibility: hidden;
    display: none;
}
.dataTables_paginate
{
    float: right;
}