.home-button {
  color: white;
  margin: 10px;
  width: 400px;
  height: 50px;
  display: block;
  text-align: center;
}
.buttonText {
  padding: 10px;
}
.home-button a,
.package-button a {
  color: white;
}
.home-button a:hover,
.package-button a:hover {
  color: black;
  text-decoration: none;
}

.pendingTitle {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  background: #1cafec;
  color: white;
  margin-left: 5px;
  font-size: 20px;
}
.mainTable {
  margin-top: 10px;
}
.col-form-label {
  float: left;
}
.selectbar {
  width: 20%;
}
.searchbar {
  clear: left;
  margin-top: -35px;
  width: 15%;
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
g.recharts-cartesian-axis-ticks {
  font-size: 10px;
}

.blinker {
  -webkit-animation: blinking 1s infinite; /* Safari 4+ */
  -moz-animation: blinking 1s infinite; /* Fx 5+ */
  -o-animation: blinking 1s infinite; /* Opera 12+ */
  animation: blinking 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinking {
  0%,
  49% {
    color: red;
  }
  50%,
  100% {
    color:white;
  }
}

.pendingPackageTable tr:hover
{
  cursor: pointer;  
  color:blue;
}
.card-header
{
  background:rgb(23, 100, 131);
  color:white;
}