@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');



body {
    background: #ededed;
    margin:0px;
    font-family: 'Raleway', sans-serif !important;

}
.header 
{
    position: relative;
}
.main-header 
{
    top:0px;
    position: fixed;
    height:120px;
    width: 100%;
    background: rgb(23,100,131);
    color:#fff;
    z-index: 4;
}
.bars 
{
    position:absolute;
    left:15px;
    top:40px;
    padding: 10px;
    color:white;
    font-size: 130%;
}

.logo 
{
    position: absolute;
    top:20px;
    left:50px;
    padding:10px 10px 10px 10px;

}
.text-area{
    background:#000;
    position: relative
}

.main-title 
{  
    position: absolute;
    top:45px;
    left:120px;
    padding-left: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: rgba(255,255,255, 1);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-align: justify;
}
.user-logo
{
    text-align: right;
    font-size:150%;
    position: absolute;
    top:40px;
    right:30px;
}

